@media print {
    @page {
        margin-top: 60px;
    }
    
    #absolut {
        display: none; 
    }
    #watermark {
        display: none; 
    }
    /* este doar pe prima pagina */
    #absolut:first-of-type {
        display: block;
        width: 80%;
        margin: 0 auto;
        border: 2px dotted black;
        padding: 10px;
        text-align: center;
        position: absolute; 
        top: 40px;
        left: 10%;
        box-sizing: border-box;
        font-weight: bold;
        z-index: 1000;
        background-color: white;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    
    #absolut::before {
        content: "Acesta este un proiect școlar  ";
    }
    

    .site-header {
        margin-top: 80px  ;
    }
    figure {
        display: none  ;
    }
    #catalog-section {
        display: none  ;
    }
    .link-top{
        display: none  ;
    }
    #sectiune-principala{
        display: none  ; 
    }
    #find-us-section{
        display: none  ; 
    }
    .container-iframe{
        display: none  ; 
    }
    .container{
        font-size: 10px;
        box-sizing: border-box;
        background-color: white;
        page-break-before: always;
        display: block;
    }
    #user-actions{
        display: none  ; 
    }
    /* Ascunde elementele media...*/
    body figcaption, body .image-description, body .media-caption {
        display: none  ;
    }
    img {
        display: none; 
    }
    /* Ascunde linkul */
    body a[href="#top"] {
        display: none  ;
    }
    a {
        color: inherit ;
        text-decoration: none ; 
    }

    #titlu {
        display: block; /* titlul este aratat mereu */
        text-align: center;
        font-size: 2.5em;
        text-decoration: underline;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        page-break-after: always;
    }
    nav, .menu, #menu {
        display: none 
    }
    .header-container > *:not(.logo-container) {
        display: none 
    }
    .promo-banner {
        display: none 
    }
    .tagline {
        display: none 
    }
    footer {
        page-break-before: always; /*footer-ul este pe o pagina noua/separata*/
    }

    #watermark {
        display: block;
        position: fixed; /*este responsabil pentru afisarea pe fiecare pagina*/
        top: 0cm;
        right: 1cm; 
        width: 150px;
        height: 2cm;
        border: 5px double black;
        opacity: 0.65;
        text-align: center;
        line-height: 2cm;
        font-size: 12px;
        font-weight: bold;
        color: black;
        pointer-events: none; 
        z-index: 1000;
    }

    #watermark::after {
        content: "Trifan Iustinian Luca";
    }
    @page:left {
        margin-left: 2.5cm;
        margin-right: 0.5cm;
    }

    @page:right {
        margin-left: 0.5cm;
        margin-right: 2.5cm;
    }
}