<footer>
    <a href="#top" class="link-top" aria-label="Scroll to top"></a>
    <address>
        <i class="fa-solid fa-phone"></i>
        <a href="tel:+40123456789">+40 123 456 789</a><br>
        <i class="fa-solid fa-globe"></i>
        <a href="https://www.google.com/maps/place/Facultatea+de+Matematică+și+Informatică" target="_blank">Strada Academiei, București</a><br>
        <i class="fa-solid fa-envelope"></i>
        <a href="mailto:contact@urbanvibe.com">contact@urbanvibe.com</a><br>
        <i class="fa-solid fa-comments"></i>
        <a href="https://wa.me/40123456789">Chat cu noi pe WhatsApp</a><br>
        <small>&copy; <time datetime="2025-02-24">24 februarie 2025</time> UrbanVibe. Toate drepturile rezervate.</small>
    </address>
    <p id="absolut"></p>
</footer>