    <script src="/Resurse/js/tema.js"></script>

<header class="site-header">
    <div class="header-container">
        <div class="logo-container">
            <h1 id="titlu">UrbanVibe</h1>
            <p class="tagline">Streetwear & Casual</p>
        </div>
        
        <div class="search-container">
            <form action="#" method="get">
                <input type="text" placeholder="Caută produse..." name="search">
                <button type="submit" class="search-button">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
        
        <div class="user-actions">
            <a href="#" class="user-icon" title="Contul meu">
                <i class="fa fa-user"></i>
            </a>
            <a href="#" class="cart-icon" title="Coșul meu">
                <i class="fa fa-shopping-cart"></i>
                <span class="cart-count">0</span>
            </a>

            <li class="nav-item d-flex align-items-center ms-3">
            <div class="form-check form-switch m-0">
                <input class="form-check-input" type="checkbox" id="schimba_tema">
                <label class="form-check-label" for="schimba_tema">
                <i id="icon-tema" class="bi bi-moon"></i>
                </label>
            </div>
            </li>
            
        </div>
    </div>
    


    <input type="checkbox" id="mobile-menu-toggle" class="mobile-menu-checkbox">
    <label for="mobile-menu-toggle" class="mobile-menu-button">


    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>


    </label>
    <nav class="main-nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="fa-solid fa-house nav-icon"></i>
                    <span class="nav-text">Acasă</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Bărbați</a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="dropdown-link">Tricouri & hanorace</a></li>
                    <li><a href="#" class="dropdown-link">Pantaloni & joggers</a></li>
                    <li><a href="#" class="dropdown-link">Jachete & geci</a></li>
                    <li><a href="#" class="dropdown-link">Sneakerși & accesorii</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Femei</a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="dropdown-link">Crop tops & tricouri oversized</a></li>
                    <li><a href="#" class="dropdown-link">Pantaloni cargo & colanți</a></li>
                    <li><a href="#" class="dropdown-link">Hanorace & jachete</a></li>
                    <li><a href="#" class="dropdown-link">Pantofi & genți</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Colecții speciale</a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="dropdown-link">Limited Edition</a></li>
                    <li><a href="#" class="dropdown-link">Colaborări cu artiști</a></li>
                    <li><a href="#" class="dropdown-link">Haine sustenabile</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="/pagina_galerie" class="nav-link">Lookbook</a></li>
            <li class="nav-item"><a href="/produse" class="nav-link">Produse</a>
                <ul class="dropdown-menu">
                    <!-- <li><a href="/produse?tip=încălțăminte" class="dropdown-link">Încălțăminte</a></li>
                    <li><a href="/produse?tip=îmbrăcăminte" class="dropdown-link">Îmbrăcăminte</a></li>
                    <li><a href="/produse?tip=accesorii" class="dropdown-link">Accesorii</a></li> -->
                    <% for (let opt of locals.optiuniMeniu) { %> 
                        <li><a href="/produse?tip=<%= opt.unnest %>" class="dropdown-link"><%= opt.unnest %></a></li>
                    <%} %>
                </ul>
            </li>
<li class="nav-item"><a href="despre" class="nav-link">Despre noi</a></li>
<li class="nav-item"><a href="#" class="nav-link">Contact & Suport</a></li>



        </ul>
    </nav>
    
    <div class="promo-banner">
        <p>Transport gratuit la comenzi de peste 250 Lei! <a href="https://www.example.com" target="_blank">Vezi mai multe despre streetwear</a></p>
        
    </div>
</header>